page-carrito {
    .icon-5x{
        font-size: 130px;
        align-content: center !important;
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        text-align: center !important;
    }
    
}
